# General
.DS_Store

# Editor
.idea
.vscode

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# pyenv
.python-version

# Environments
.env
.venv

# requirements.txt
requirements.txt

# Lambda config
event.json
lambda.json
lambda_function.zip
.lambda_uploader_temp
