{
  "name": "time-aggregation-notifier",
  "description": "Time aggregation notifier with Redmine",
  "region": "ap-northeast-1",
  "runtime": "python3.7",
  "handler": "main.lambda_handler",
  "role": "arn:aws:iam::XXXXXXXX:role/XXX",
  "timeout": 300,
  "memory": 128,
  "ignore": [
    ".git$",
    "^README.md$",
    ".pep8$",
    ".env",
    ".gitignore$",
    "lambda.json"
  ],
  "variables": {
    "REDMINE_URL": "https://example.com/redmine",
    "REDMINE_KEY": "key",
    "REDMINE_PROJECT": "project",
    "SNS_TOPIC_ARN": "arn:aws:sns:region:XXXXXXXXXXXX:name"
  }
}
