[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"
python-lambda-local = "==0.1.7"
lambda-uploader = "*"

[packages]
boto3 = "*"

[requires]
python_version = "3.7"

[scripts]
execute = "python-lambda-local -f lambda_handler main.py event.json"
deploy = "lambda-uploader"
