{
  "FunctionName": "time-aggregation-notifier",
  "Handler": "time-aggregation-notifier",
  "MemorySize": 128,
  "Role": "arn:aws:iam::XXXXXXXX:role/XXX",
  "Runtime": "provided.al2",
  "Timeout": 3,
  "Environment": {
    "Variables": {
      "TZ": "Asia/Tokyo",
      "IDENTIFIER": "project",
      "GROUPING_NAME": "name"
    }
  }
}
