{
  "version": "2.0",
  "app_name": "time-aggregation-notifier",
  "stages": {
    "dev": {
      "autogen_policy": true
    },
    "prod": {
      "manage_iam_role": false,
      "iam_role_arn": "arn:aws:iam::XXXXXXXX:role/XXX",
      "environment_variables": {
        "TZ": "Asia/Tokyo",
        "REDMINE_URL": "https://example.com/redmine",
        "REDMINE_KEY": "key",
        "REDMINE_PROJECT": "project",
        "SNS_TOPIC_ARN": "arn:aws:sns:region:XXXXXXXXXXXX:name",
        "SEND_NOTIFYCATION": "chatwork",
        "CHATWORK_ROOM_ID": "XXXXXXX",
        "CHATWORK_API_TOKEN": "XXXXXXX"
      }
    }
  }
}
